{% extends 'base.html' %}
{% block title %}Create/Update Event{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Fill Event Details</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.location.label(class="form-label") }}
            {{ form.location(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.date.label(class="form-label") }}
            {{ form.date(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.start_time.label(class="form-label") }}
            {{ form.start_time(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.organizer_name.label(class="form-label") }}
            {{ form.organizer_name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.organizer_contact.label(class="form-label") }}
            {{ form.organizer_contact(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.ticket_type.label(class="form-label") }}
            {{ form.ticket_type(class="form-select") }}
        </div>
        <div class="mb-3">
            {{ form.ticket_price.label(class="form-label") }}
            {{ form.ticket_price(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.music_categories.label(class="form-label") }}
            {{ form.music_categories(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.status.label(class="form-label") }}
            {{ form.status(class="form-select") }}
        </div>
        <div class="mb-3">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control", rows="3") }}
        </div>
        <div class="mb-3">
            {{ form.image.label(class="form-label") }}
            {{ form.image(class="form-control") }}
        </div>
        <div class="text-center">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
